{% extends 'layout.twig' %}

{% block content %}
    <h1>Dashboard</h1>
    <ul>
        <li><a href="jobs/add">Jobs</a></li>
        <li><a href="projects/add">Projects</a></li>
        <li><a href="users/add">Users</a></li>
    </ul>


    <a href="logout">Logout</a>
{% endblock %}